{% extends 'admin/admin_layout.html' %}

{% load static %}

{% block content %}

<div class="row my-4">
    <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7" style="margin-left: 300px;">
              <h6>User Enquiry List</h6>
              {% comment %} <p class="text-sm mb-0">
                <i class="fa fa-check text-info" aria-hidden="true"></i>
              </p> {% endcomment %}
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              {% comment %} <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                  <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                </ul>
              </div> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0"> 
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">SL NO</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mobile</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Message</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trash</th>
                </tr>
              </thead>
              <tbody>
                {% for msg in messages %}
                  <tr>
                    <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ forloop.counter }}</h6> <!-- Display User Name -->
                          </div>
                        </div>
                      </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ msg.name }}</h6> <!-- Display User Name -->
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="avatar-group mt-2">
                        <span class="text-xs font-weight-bold">{{ msg.email }}</span> <!-- Display Email -->
                      </div>
                    </td>   
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold">{{ msg.phone }}</span> <!-- Display Phone -->
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-xs font-weight-bold">{{ msg.message }}</p> <!-- Display Message -->
                    </td>
                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold">
                            <button style="background-color: red;border: 0px;">
                                <a href="{% url 'user_message_delete' msg.id %}" style="color: whitesmoke;">Trash</a></button></p> <!-- Display Message -->
                      </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="4" class="text-center text-muted">No messages available</td> 
                  </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  


{% endblock %}