{% extends 'admin/admin_layout.html' %}

{% load static %}

{% block content %}

<div class="row my-4 d-flex justify-content-center"> <!-- Center the row -->
  <div class="col-lg-10 col-md-10"> <!-- Adjust column width -->
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7" style="margin-left: 300px;">
              <h6>User Enquiry List</h6>
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0"> 
              <thead>
                <tr>
                  <th class="text-uppercase  text-xxs font-weight-bolder opacity-7" style="color:black">SL NO</th>
                  <th class="text-uppercase  text-xxs font-weight-bolder opacity-7 ps-2" style="color:black">Name</th>
                  <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7" style="color:black">Email</th>
                  <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7" style="color:black">Mobile</th>
                  <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7" style="color:black">Message</th>
                  <th class="text-center text-uppercase text-xxs font-weight-bolder opacity-7" style="color:black">Trash</th>
                </tr>
              </thead>
              <tbody>
                {% for msg in messages %}
                  <tr class="text-center">
                    <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ forloop.counter }}</h6> <!-- Display User Name -->
                          </div>
                        </div>
                      </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ msg.name }}</h6> <!-- Display User Name -->
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="avatar-group mt-2">
                        <span class="text-xs font-weight-bold" style="color:black">{{ msg.email }}</span> <!-- Display Email -->
                      </div>
                    </td>   
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold" style="color:black">{{ msg.phone }}</span> <!-- Display Phone -->
                    </td>
                    <td class="align-middle text-center">
                      <p class="text-xs font-weight-bold" style="color:black">{{ msg.message }}</p> <!-- Display Message -->
                    </td>
                    <td class="align-middle text-center">
                        <p class="text-xs font-weight-bold">
                            <button style="background-color: red;border: 0px;">
                                <a href="{% url 'user_message_delete' msg.id %}" style="color: whitesmoke;">Trash</a></button></p> <!-- Display Message -->
                      </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="4" class="text-center text-muted">No messages available</td> 
                  </tr>
                {% endfor %}
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  


{% endblock %}